<mat-toolbar class="footer">
    <span class="example-spacer-footer"></span>
    <button mat-button routerLink="#">473 735 1579</button>
    <button mat-button routerLink="#">Contactanos</button>
    <button mat-button routerLink="#">Directorio</button>
    <button mat-button routerLink="#">Transparencia</button>
    <span class="example-spacer-footer"></span>
</mat-toolbar>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img class="logo-sfia" src="../../../../assets/img/logo_SFIA_completo.svg" width="316px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/normatividad">Normatividad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/datos_maestros">Datos Maestros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/proyectos_transversales">Proyectos Transversales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/tableros">Tableros</a>
          </li>
          
        </ul>
        <button class="btn btn-primary" routerLink="/dashboard/login">Entrar</button>
      </div>
    </div>
  </nav>